/* POPUP FULLSCREEN */
.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;   /* WAJIB FIX */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.link a{
    color:red;
    margin-left: 10px;
    
}
/* POPUP BOX */
.popup-content {
    width: 500px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

.popup-content input {
    width: 70%;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid gray;
    border-radius:8px ;
}

.popup-content button {
    width: 70%;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: green;
}
.remember {
    width: 350px;
    margin: 5px 0 10px 65px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.remember input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.remember p{
    margin-left: 60px;
}

.remember p a{
    color: #0593f3;
}
/* BACKGROUND POPUP */
.popup {
    display: none;                 /* default tersembunyi */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;                  /* agar di atas navbar */
}

/* Saat aktif */
.popup.show {
    display: flex;
}


/* Tombol close (X) */
.close-popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff4d4d;
    color: white;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

/* Animasi halus */
@keyframes fadeIn {
    from { transform: scale(0.95); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}