* {
    margin: 0;
    padding: 0;
}

.container-jenis-tiket {
    max-width: 1300px;
    margin: auto;
    background-color: #bfbfbf;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.kotak-tiket .pesawat, .bus, .kapal {
    width: 300px;
    height: 400px;
    margin: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 3px solid #000000;
}